.descuento{
    background-color: rgba(255, 0, 120, .26);
    color: rgba(255, 0, 120, 1);
    font-size: 14px;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-weight: bold;
}
.talla{
    border: 0.5px solid #000;
}
.contador{
    width: 100%;
    border-radius: 25px;
    border: 1px solid #d8d8d8;
  
}
.agregar-al-carrito{
    display: block;
    width: 75%;
    background-color: #000;
    margin: auto;
    color: #f5f5f5;
    margin-top: 0.4em;
    padding: 0.2em;
    text-align: center;
    font-weight: 600;
    border-radius: 25px;
}
.aviso{
    position: fixed;
    top: 50%;
    right: 15px;
    background-color: #fff701;
    padding: 0.4em;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    transform: translateX(1000px);
}
.texto-aviso{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}   
.mostrar{
    transform: translateX(0);
}

.image-container {
    background-color: white;
    width: 100%;
    position: relative;
    display: inline-block; /* O 'block', según tu layout */
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.05); /* Cambia el color y la opacidad según necesites */
    z-index: 2;
  }

  @media (min-width: 768px){

    .contador{
      padding: 1rem;
    }
    
  }