.carrito{
    border: 1px solid rgba(8, 20, 65, 0.2);
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 4px;
}
.modal-abajo{
    background-color: white;
    min-height: 200px;
    width: 100%;
    border: 1px solid rgba(8, 20, 65, 0.7);
    position: fixed;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
