*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
body::-webkit-scrollbar {
    width: 0.5em;
}

.active-link {
    background-color: rgb(244, 244, 244); /* Color de fondo para el enlace activo */
    color: rgb(0, 0, 0); /* Color de texto para el enlace activo */
  }
  